/*============Переменные CSS===========*/

 :root {
    --btn-blue: #188CE8;
    --accent-color: #2196F3;
    --accent-color-white: #FFFFFF;
    --accent-color-grey: #757575;
    --accent-color-black: #212121;
    --color-grey: #2F303A;
    --accen-section-about: #F5F4FA;
}


/*=========Body=========*/

body {
    font-family: "Roboto", sans-serif;
    color: #212121;
}


/*Підкреслення силки*/

.link {
    text-decoration: none;
}


/*Маркери списків ul*/

.list {
    list-style: none;
    font-style: normal;
}


/*Стилізація частини назви"Web" WebStudio*/

.link-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color-black);
}

.logo {
    color: var(--accent-color);
}


/*Стилізація контактної інформації*/

.mail-link,
.tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color-grey);
}

.mail-link:hover,
.mail-link:focus,
.tel-link:hover,
.tel-link:focus {
    color: var(--accent-color);
}


/*================section-heading==================*/

.section-heading {
    background-color: #2F303A;
}

.section-heading-links {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.36;
    color: var(--accent-color-white);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


/*====================section-Button=================*/

.section-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--accent-color-white);
    background-color: var(--accent-color);
    cursor: pointer;
    display: block;
    text-align: center;
    letter-spacing: 0.06em;
    border: 0;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.section-button:hover,
.section-button:focus {
    background-color: var(--btn-blue);
    color: var(--accent-color-white);
}


/*==================NAV=================*/

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color-black);
}

.nav-link:hover,
.nav-link:focus,
.current,
.current-portfolio {
    color: var(--accent-color);
}


/*================content-list==================*/

.content-list {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color-black);
}


/*=================content-body==================*/

.content-body {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color-grey);
}


/*==================section-title=================*/

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--accent-color-black);
}


/*============DESKTOP=============*/


/*===============Члени команди================*/

.section-about {
    background: var(--accen-section-about);
}

.about-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18px;
    letter-spacing: 0.03em;
    text-transform: initial;
    color: var(--accent-color-black);
}

.about-text {
    font-size: 16px;
    line-height: 1.18;
    color: var(--accent-color-grey);
}


/*==========Portfolio-Button==========*/

.main-button {
    color: #212121;
    background-color: var(--accen-section-about);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    padding: 6px 22px;
    margin: 2px 2px;
    border: 0;
    cursor: pointer;
}

.main-button:hover,
.main-button:focus {
    color: var(--accent-color-white);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
}


/*============"portfolio"=============*/

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--accent-color-black);
}

.portfolio-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    color: var(--accent-color-grey);
}


/*================footer=================*/

.footer-contact .link-logo {
    color: var(--accent-color-white);
}

.mail-footer,
.link-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: rgba(255, 255, 255, 0.6);
}

.footer-contact {
    background-color: var(--color-grey);
}

.footer-address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color-white);
}